<div class="mb-5 d-flex justify-content-between">
  <h4>Candidates</h4>
</div>
<div class="w-100 h-75 d-flex justify-content-center" *ngIf="isLoading">
  <div class="spinner-border align-self-center" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div>
  <div *ngIf="!isLoading">
    <table datatable [dtOptions]="dtOptions" class="table row-border hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Verified</th>
        <th>Bootcamp ID</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let candidate of candidates">
        <td>{{candidate.id}}</td>
        <td>{{candidate.firstName}}</td>
        <td>{{candidate.lastName}}</td>
        <td>{{candidate.email}}</td>
        <td>{{candidate.phoneNumber}}</td>
        <td>
          <span *ngIf="candidate.verified" class="badge bg-success">Verified</span>
          <span *ngIf="!candidate.verified" class="badge bg-danger">Not verified</span>
        </td>
        <td>{{candidate.bootcampId}}</td>
        <td>{{candidate.status}}</td>
        <td>
          <button [disabled]="candidate.verified" class="btn btn-primary" (click)="openModalVerifyCandidate(candidate)">
            Verify
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal #candidateModal [modalConfig]="candidateModalConfig">
  <div class="d-flex h-100 w-100">
    <div *ngIf="pdfToDisplayURL !== ''" class="h-100 w-50">
      <pdf-viewer style='position: relative; height: 100%;'
                  [src]="pdfToDisplayURL"
                  [original-size]="false"
                  [autoresize]="true"></pdf-viewer>
    </div>
    <div *ngIf="pdfToDisplayURL !== ''" class="h-100 w-50 overflow-auto">
      <form [formGroup]="candidateForm">
        <div *ngFor="let skill of candidateSkills.controls; let i = index">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Skill:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" [value]="skill.value.skill">
            </div>
            <div class="col-sm-2">
              <button class="btn btn-danger" (click)="deleteSkillFormControl(i)">Delete</button>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" (click)="addSkillFormControl()">Add Skill</button>
      </form>
    </div>
  </div>
</app-modal>
