<div class="mb-5 d-flex justify-content-between">
  <h4>Candidates</h4>
</div>
<div class="w-100 h-75 d-flex justify-content-center" *ngIf="isLoading">
  <div class="spinner-border align-self-center" role="status" >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div>
  <div *ngIf="!isLoading">
    <table datatable [dtOptions]="dtOptions" class="table row-border hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Verified</th>
        <th>Bootcamp ID</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let candidate of candidates">
        <td>{{candidate.id}}</td>
        <td>{{candidate.firstName}}</td>
        <td>{{candidate.lastName}}</td>
        <td>{{candidate.email}}</td>
        <td>{{candidate.phoneNumber}}</td>
        <td>
          <span *ngIf="candidate.verified" class="badge bg-success">Verified</span>
          <span *ngIf="!candidate.verified" class="badge bg-danger">Not verified</span>
        </td>
        <td>{{candidate.bootcampId}}</td>
        <td>{{candidate.status}}</td>
        <td>
          <button [disabled]="candidate.verified" class="btn btn-primary" (click)="openModalVerifyCandidate()">Verify</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal #candidateModal [modalConfig]="candidateModalConfig">
  <form [formGroup]="candidateForm">
  </form>
</app-modal>
