<div class="mb-5 d-flex justify-content-between">
  <h4>Bootcamps</h4>
  <button class="btn btn-primary" (click)="openBootcampModal()">Create Bootcamp</button>
</div>
<div class="w-100 h-75 d-flex justify-content-center" *ngIf="isLoading">
  <div class="spinner-border align-self-center" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div>
  <div *ngIf="!isLoading">
    <table datatable [dtOptions]="dtOptions" class="table row-border hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Candidate Number</th>
        <th>Skill Required</th>
        <th>Language Required</th>
        <th>Language Level Required</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bootcamp of bootcamps">
        <td>{{bootcamp.id}}</td>
        <td>{{bootcamp.name}}</td>
        <td>{{ bootcamp.startDate | date }}</td>
        <td>{{ bootcamp.endDate | date }}</td>
        <td>{{bootcamp.candidateNumber}}</td>
        <td>{{bootcamp.skillRequired}}</td>
        <td>{{bootcamp.languageRequired}}</td>
        <td>{{bootcamp.languageLevelRequired}}</td>
        <td>
          <div class="d-flex">
            <button *ngIf="bootcamp.test === null" class="btn btn-primary" (click)="openTestModal(bootcamp.id)">Create
              Test
            </button>
            <button *ngIf="bootcamp.test !== null" class="btn btn-success" (click)="goToTest(bootcamp.test.id)">Go To
              Test
            </button>
            <button *ngIf="bootcamp.test == null" class="mx-2 btn btn-warning" (click)="openBootcampUpdateModal(bootcamp)">Update</button>
            <button *ngIf="bootcamp.test == null" [swal]="{ title: 'Do you want to delete Bootcamp?', showConfirmButton: false, showDenyButton: true, denyButtonText: 'Delete', showCancelButton: true }" class="btn btn-danger" (deny)="deleteBootcamp(bootcamp.id!)">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal #bootcampModal [modalConfig]="bootcampModalConfig">
  <form [formGroup]="bootcampForm">
    <div class="mb-3 row">
      <label for="name" class="col-sm-3 col-form-label">Name:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="startDate" class="col-sm-3 col-form-label">Start Date:</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" formControlName="startDate" id="startDate">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="endDate" class="col-sm-3 col-form-label">End Date:</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" formControlName="endDate" id="endDate">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="candidateNumber" class="col-sm-3 col-form-label">Candidate Number:</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" formControlName="candidateNumber" id="candidateNumber">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="skillRequired" class="col-sm-3 col-form-label">Skill Required:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="skillRequired" formControlName="skillRequired">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="languageRequired" class="col-sm-3 col-form-label">Language Required:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="languageRequired" formControlName="languageRequired">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="languageLevelRequired" class="col-sm-3 col-form-label">Language Level Required:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="languageLevelRequired" formControlName="languageLevelRequired">
      </div>
    </div>
  </form>
</app-modal>

<app-modal #bootcampUpdateModal [modalConfig]="bootcampUpdateModalConfig">
  <form [formGroup]="bootcampUpdateForm">
    <div class="mb-3 row">
      <label for="name" class="col-sm-3 col-form-label">Name:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="name" [value]="">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="startDate" class="col-sm-3 col-form-label">Start Date:</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" formControlName="startDate">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="endDate" class="col-sm-3 col-form-label">End Date:</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" formControlName="endDate">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="candidateNumber" class="col-sm-3 col-form-label">Candidate Number:</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" formControlName="candidateNumber">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="skillRequired" class="col-sm-3 col-form-label">Skill Required:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="skillRequired">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="languageRequired" class="col-sm-3 col-form-label">Language Required:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="languageRequired">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="languageLevelRequired" class="col-sm-3 col-form-label">Language Level Required:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="languageLevelRequired">
      </div>
    </div>
  </form>
</app-modal>

<app-modal #testModal [modalConfig]="testModalConfig">
  <form [formGroup]="testForm">
    <div class="mb-3 row">
      <label for="startDate" class="col-sm-3 col-form-label">Start Date:</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" formControlName="startDate">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="endDate" class="col-sm-3 col-form-label">End Date:</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" formControlName="endDate">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="candidateNumber" class="col-sm-3 col-form-label">Candidate Number:</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" formControlName="candidateNumber">
      </div>
    </div>
  </form>
</app-modal>
