<div class="mb-5 d-flex justify-content-between">
  <h4>Tests</h4>
</div>
<div class="w-100 h-75 d-flex justify-content-center" *ngIf="isLoading">
  <div class="spinner-border align-self-center" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div>
  <div *ngIf="!isLoading">
    <table datatable [dtOptions]="dtOptions" class="table row-border hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Candidate Number</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let test of tests">
        <td>{{test.id}}</td>
        <td>{{test.startDate | date}}</td>
        <td>{{test.endDate | date}}</td>
        <td>{{test.candidateNumber}}</td>
        <td>{{test.status}}</td>
        <td>
          <div class="d-flex">
            <button class="btn btn-primary" (click)="goToTestInfo(test.id)">Test Info</button>
            <button *ngIf="test.status === 'IN_COMMUNICATION_WITH_CANDIDATES'" class="btn btn-warning" (click)="openUpdateTestModal(test)">Update</button>
            <button *ngIf="test.status === 'IN_COMMUNICATION_WITH_CANDIDATES'" class="btn btn-danger" [swal]="{ title: 'Do you want to delete Test?', showConfirmButton: false, showDenyButton: true, denyButtonText: 'Delete', showCancelButton: true }" (deny)="deleteTest(test.id!)">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<app-modal #testUpdateModal [modalConfig]="testUpdateModalConfig">
  <form [formGroup]="testUpdateForm">
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Start Date:</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" formControlName="startDate">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">End Date:</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" formControlName="endDate">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Candidate Number:</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" formControlName="candidateNumber">
      </div>
    </div>
  </form>
</app-modal>
