<body id="body-pd" class="body-pd">
<header class="header d-flex justify-content-end body-pd" id="header">
<div>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link bx bxs-user-circle profile_icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a href="#" class="user_nav_link nav_link"> <i class='bx bxs-user-detail nav_icon'></i> <span class="nav_name">User</span> </a>
        <a href="#" class="user_nav_link nav_link"> <i class='bx bx-cog nav_icon'></i> <span class="nav_name">Role : Admin</span> </a>
        <hr class="dropdown-divider">
        <a href="#" class="user_nav_link nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Log Out</span> </a>
      </ul>
    </li>
  </ul>
</div>
</header>
<div class="l-navbar show" id="nav-bar">
  <nav class="nav">
    <div><a href="#" class="nav_logo"> <i class='bx bx-buildings nav_logo-icon'></i> <span
      class="nav_logo-name">NTT DATA</span> </a>
      <div class="nav_list">
        <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Candidates</span> </a>
        <a routerLink="bootcamp" routerLinkActive="active" class="nav_link"> <i class='bx bx-code-block nav_icon'></i> <span class="nav_name">Bootcamps</span> </a>
        <a href="#" class="nav_link"> <i class='bx bx-edit-alt nav_icon'></i> <span class="nav_name">Tests</span> </a>
      </div>
    </div>

  </nav>
</div>
<!--Container Main start-->
<div class="height-100 ">
  <h4>Main Components</h4>
  <router-outlet></router-outlet>
</div>
<!--Container Main end-->

